{% extends "base.html" %}

{% block title %}
Hi this is 404.html
{% endblock %}

{% block h1 %}
Добро пожаловать!
{% endblock %}

{% block article %}
   <article class="main__content">

	Добро пожаловать! Страница не найдена
	Contacts: @energys018

   </article>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}

